<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WpfCalc.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="mySection" type="WpfCalc.Properties.ConfigSection, WpfCalc"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <WpfCalc.Properties.Settings>
            <setting name="Setting" serializeAs="String">
                <value>essai</value>
            </setting>
            <setting name="Setting1" serializeAs="String">
                <value>123</value>
            </setting>
        </WpfCalc.Properties.Settings>
      <mySection>
        <Applications>
          <add Description="Une description" Shortcut="Un raccourci" Arguments="Les arguments"/>
          <add>
            <Application>
              <Description>D</Description>
              <Shortcut>S</Shortcut>
              <Arguments>A</Arguments>
            </Application>
          </add>
        </Applications>
      </mySection>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
